<html>
<head><title>Main</title>
{{ style|safe }}
</head>
<body>
    {{ header|safe }}
<br><br>
The following features are provided by the tool cron-tab:
<ul>
<li>Perform periodic test of a cron url. Result of the tests can be viewed on the <a href="view">View statistics</a> page.
</li>
<li>Check the status of several links at any time. The status is displayed in the <a href="checkurl">Dashboard</a> page.
</li>
</ul>
Also an <a href="admin">administrator</a> interface is provided to configure properly this tool.
	{{ footer|safe }}

</body>
</html>
